/* 	CSE 154 AA
	Xinxin Zhang
    HW#1:This is style sheet for the front page of Grandma's Lemon Meringe. 
    File name: index.css */
p {
	color: yellow;
}

h1 {
	text-align: center;
   	font-size: 28pt;
  	font-weight: bold;
	font-family: fantasy;
	letter-spacing: 0.3em;
}

.pie {
	background-color: #FFFFA8;
	color:#787878;
}

.top {
	background-color: white;	
}

img {
	opacity: 0.7; 
}

audio { 
   display:none;
}

blockquote {
	text-align: center;
	font-style: italic;
}

ul {
	list-style-type: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	color: #FF9999;
	background-color: #FFFFCC;
	opacity: 0.8;
}