@font-face {
    font-family: 'Silom';
    src: url('Silom.woff2') format('woff2'),
        url('Silom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

