:root { --base-font-family: 'Oswald', Arial, sans-serif; --count-font-family: 'Oswald', Arial, sans-serif; }
.all-blogs { width: min(100% - 2.5rem, 1000px); margin: 2rem auto; }
dl { counter-reset: count; margin: 0; }
dt { counter-increment: count; font-family: var(--base-font-family); color: #222; font-size: 1.25rem; font-weight: 400; line-height: 1.5; }
dt::before { content: counter(count, decimal-leading-zero) ' '; font-size: 2rem; color: #666; padding-right: .5rem; }
dd { margin: .5rem 0 2rem 3rem; font: 300 1rem/1.7 var(--count-font-family); }
