:root {
    /* fonts */
    --oswald-sans-family:'Oswald', sans-serif;
    --oswald-cursive-family:'Oswald', cursive;
    --monoton-cursive-family:'Monoton', cursive;
    --apple-system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif,"Sans Serif",Icons;
    
    /* color */
    --category-color:#7d8285;
    --title-color:#000;
    --seperator-color: rgb(198, 198, 198);
    --section-bg-color: white;
}

.all-projects {
    background-color: var(--section-bg-color);
    margin-top: 1.5rem;    
}

.all-projects {
    box-sizing: border-box;
  }
    
  .col {
    float: left;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .row-projects:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media (max-width: 767px) {
    .col {
      width: 80%;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }


.row-projects img {
    object-fit: cover;
    max-height: 400px;
    background-color: white;
    float: right;
}

.project-tag { 
    margin-bottom: 0.7rem; 
    text-align: left;
}

.project-tag p, h3{
    color: var(--category-color);
    font-family:var(--oswald-cursive-family);
    margin-left: auto;
    margin-right: auto; 
    text-align: left;
  }
  
.all-projects h3 {
    font-weight: 250;
    font-size: calc(4px + 1vw);
    color: inherit;
}
  
  .all-projects .name {
    font-size:18px;
    font-weight: 250;
    color: var(--title-color);
  }
  
  /* @media (max-width:991px) {

  } */
  
  .all-projects .description {
    /* font-size: calc(4px + 0.7vw); */
    font-size:14px;
    margin-bottom: 0;
    font-family:'Oswald', cursive;
    font-weight: 100;
  }
  

.img-fluid {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease; 
}
    
.img-fluid:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;

}